---
import ProductImages from "./ProductImages";

const { product, category } = Astro.props;
// Reemplaza con tu número de WhatsApp (en formato internacional sin +)
const phoneNumber = "593998894898";

// Mensaje predefinido
const message = `¡Hola! Estoy interesad@ en comprar el producto: ${product.name}.`;

// Crear el enlace de WhatsApp
const whatsappURL = `https://wa.me/${phoneNumber}?text=${encodeURIComponent(message)}`;

let images = product.images ? product.images : product.image ? [product.image] : [];
// recorrer y armar las rutas completas
images = images.map((img: string) => `/img/products/${img}`);
---

<div class="overflow-hidden rounded-2xl shadow-[0_4px_12px_rgba(0,0,0,0.15)] transition-transform duration-300 hover:scale-105">
	<div class={`h-72 overflow-hidden border-b-4 ${category === "tech" ? "border-tech" : "border-kawaii"}`}>
		<ProductImages images={images} client:load />
	</div>
	<div class="p-3">
		<h2 class={`text-${category === "tech" ? "tech" : "kawaii"} font-semibold text-lg my-3`}>{product.name}</h2>
		<p>{product.description}</p>

		<a href={whatsappURL} target="_blank" rel="noopener noreferrer" class={`mt-4 flex gap-2 items-center justify-center w-full rounded bg-${category === "tech" ? "tech" : "kawaii"} px-4 py-2 text-center text-sm font-semibold text-white transition duration-300 hover:translate-y-1.5 hover:bg-${category === "tech" ? "tech-dark" : "kawaii-dark"}`}>
			<svg class="h-6 w-6">
				<use href="/sprite.svg#whatsapp"></use>
			</svg>
			Comprar por WhatsApp
		</a>
	</div>
</div>
